body {
    box-sizing: border-box;
    margin: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #444444;
}

.contact-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.contact-info a {
    color: white;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
}

i {
    color: #e96b56;
}

span {
    font-family: "Open Sans", sans-serif;
    color: white;
    font-weight: 200;
}

.links i {
    color: #bababa;
    padding-left: 6px;
}

.links i:hover {
    color: white;
}
.head-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo h1 a{
    font-size: 30px;
    color: #545454;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}
.team{
    background-color: #f7f7f7;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.logo{
    border-left: 4px solid salmon;
    height: 15px;
}